.events-container.today {
    margin-bottom: 3rem;
}

.events-container.today .event {
    border-color: var(--extreme);
}

.events-container.tomorrow .event {
    border-color: var(--high);
}

.events-container.future .event {
    border-color: var(--fg);
}
