.badge {
    display: inline-block;
    padding: 0.5rem;
    font-size: 1rem;
    line-height: 1rem;
    background: #cfcfcf;
    color: #000;
    margin: 0 0.2rem;
    position: relative;
    top: -0.3rem;
    border-radius: 0.5rem;
}
